@model MindHealth.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ime)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.slikaOsobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.slikaOsobe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prosjecnaOcjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prosjecnaOcjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeNarednogTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeNarednogTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skolovanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skolovanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.slika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.slika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prethodnoIskustvo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prethodnoIskustvo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pocetakRadnogVremena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pocetakRadnogVremena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.krajRadnogVremena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.krajRadnogVremena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRegistracije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRegistracije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preferiraniJezik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preferiraniJezik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preferiraniNacinUplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preferiraniNacinUplate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
