@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@*@inject UserManager<Korisnik> _userManager;*@

@{
    ViewData["Title"] = "Administrator home";
    Layout = "_layout";
   @* var user = await _userManager.GetUserAsync(User);*@
}

<h1>Admin</h1>


<div>
    @foreach (var item in Model)
    {
        @*if (item.Id == user.Id) continue;*@
            <form asp-action="BrisiKorisnika" method="POST" style="margin-bottom: 20px">
                <div class="podaci" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <p>@item.Id</p>
                    <p>@item.Ime</p>
                    <p>@item.Prezime</p>
                </div>
                <input type="text" name="Id" value="@item.Id" hidden />
                <input type="submit" name="brisanje" value="Obriši korisnika" />
                @Html.AntiForgeryToken()
            </form>
        }
</div>