@model MindHealth.Models.OdgovoriNaPitanje

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OdgovoriNaPitanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Upitnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Upitnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.odgovoreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.odgovoreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tekstPitanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tekstPitanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
